.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 15% auto auto 10%;
  grid-template-rows: 5% 10% 80% 5%;
}

.projects {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
}